version: "3.8"

services:
  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=admin123
      - DOCKER_INFLUXDB_INIT_ORG=triplec
      - DOCKER_INFLUXDB_INIT_BUCKET=triplec-bucket
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=triplec-secret-token
    volumes:
      - influxdb-data:/var/lib/influxdb

  redis:
    image: redis:8.2.1
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: >
      redis-server --appendonly yes

  grafana:
    image: grafana/grafana-oss:11.4.3
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin123
    volumes:
      - grafana-data:/var/lib/grafana
      - ./provisioning:/etc/grafana/provisioning

  prometheus:
    image: prom/prometheus:v3.3.0
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  localai:
    image: localai/localai:latest
    platform: linux/arm64
    container_name: localai
    ports:
      - "8081:8080"
    environment:
      - MODELS_PATH=/models
    restart: unless-stopped
    volumes:
      - ./AI/models:/models
      - ./AI/backends:/backends

volumes:
  influxdb-data:
  redis-data:
  grafana-data: